{% extends "index.html" %}
{% block title %}Deploy1{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block logo %}
    AutoDeploy－发布部署平台
{% endblock %}
{% block header %}
    {{ super() }}
{% endblock %}

{% block black %}
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            {% for k,v in projectdicts.iteritems() %}
                <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">{{ k }}</a>
                        <dl class="layui-nav-child">
                            {% for project in v %}
                                <dd><a href="/project/page" target="option">{{ project.name }}</a></dd>
                            {% endfor %}
                        </dl>
                    </li>
            {% endfor %}
         </ul>
        </div>
    </div>
{% endblock %}

{% block page %}
        <script src="../static/layui/layui.all.js" charset="utf-8"></script>
    <center>
        <h1>欢迎来到发布部署平台</h1>
        <img src="../static/img/img2.png" width="400" height="400">
    </center>
{% endblock %}
{% block body %}
    {{ super() }}
{% endblock %}