{% extends "index.html" %}
{% block title %}Host{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block header %}
    {{ super() }}
{% endblock %}
{% block black %}
    {{ super() }}
{% endblock %}

{% block page %}
    <br>
{#    <center>#}
{#    <div class="demoTable">#}
{#        搜索ID：#}
{#        <div class="layui-inline">#}
{#            <input class="layui-input" name="id" id="demoReload" autocomplete="off">#}
{#        </div>#}
{#        <button class="layui-btn" data-type="reload">搜索</button>#}
{#    </div>#}
{#    </center>#}

    <table class="layui-table" lay-data="{width: 1100, height:490, url:'/admin/host/all', page:true, id:'idTest'}" lay-filter="demo">
  <thead>
    <tr>
      <th lay-data="{field:'id', width:100, sort: true,}">ID</th>
      <th lay-data="{field:'host_ip', width:200}">host_ip</th>
      <th lay-data="{field:'ssh_username', width:200, sort: true}">ssh_username</th>
      <th lay-data="{field:'ssh_password', width:250}">ssh_password</th>
      <th lay-data="{ width:400, align:'center', toolbar: '#barDemo'}">action</th>
    </tr>
  </thead>
</table>

<script type="text/html" id="barDemo">
{#  <a class="layui-btn layui-btn-xs" lay-event="add">新增</a>#}
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script src="../static/layui/layui.all.js" charset="utf-8"></script>
<script src="../static/layui/lay/modules/table.js" charset="utf-8"></script>

     <form class="layui-form" action="" id="editform" hidden="hidden">
        <div class="layui-form-item">
          <div class="layui-inline">
              <label class="layui-form-label">id</label>
              <div class="layui-input-inline">
                <input id="uid" type="text" name="id"  autocomplete="off" class="layui-input">
              </div>
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-inline">
              <label class="layui-form-label">host_ip</label>
              <div class="layui-input-inline">
                <input id="uhost_ip" type="text" name="host_ip"  autocomplete="off" class="layui-input">
              </div>
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-inline">
              <label class="layui-form-label">ssh_username</label>
              <div class="layui-input-inline">
                <input id="ussh_username" type="text" name="ssh_username" autocomplete="off" class="layui-input">
              </div>
            </div>
        </div>

        <div class="layui-form-item">
           <div class="layui-inline">
              <label class="layui-form-label">ssh_password</label>
              <div class="layui-input-inline">
                <input id="ussh_password" type="text" name="ssh_password" autocomplete="off" class="layui-input">
              </div>
           </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit="" lay-filter="edit">立即提交</button>
              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

    <form class="layui-form" action="" id="addform" hidden="hidden">
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">host_ip</label>
          <div class="layui-input-inline">
            <input id="host_ip" type="text" name="host_ip1"  autocomplete="off" class="layui-input">
          </div>
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">ssh_username</label>
          <div class="layui-input-inline">
            <input  type="text" name="ssh_username1"  autocomplete="off" class="layui-input">
          </div>
        </div>
      </div>
        <div class="layui-form-item">
      <div class="layui-inline">
      <label class="layui-form-label">ssh_password</label>
      <div class="layui-input-inline">
        <input  type="text" name="ssh_password1" autocomplete="off" class="layui-input">
      </div>
    </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="add">立即提交</button>
    </div>
  </div>
</form>

<script>
layui.use('table', function(){
  var table = layui.table;
  //监听工具条
  table.on('tool(demo)', function(obj){
    var data = obj.data;
    console.log(data);
    if(obj.event === 'edit'){
        $("#uid").val(data.id);
        $("#uhost_ip").val(data.host_ip);
        $("#ussh_username").val(data.ssh_username);
        $("#ussh_password").val(data.ssh_password);
        layer.open({
              type: 1,
              area: ['400px', '360px'],
              shadeClose: true, //点击遮罩关闭
              content: $('#editform'),
              success:function(layero){
                var mask = $(".layui-layer-shade");
                mask.appendTo(layero.parent());}
            });
    } else if(obj.event === 'del'){
        $.get("/admin/host/del/"+data.id, function(data){
			if(data.code == 200){
			    table.reload('idTest', {
                    url: '/admin/host/all'
                });
			}
		});
    }else if (obj.event=='add'){
        layer.open({
              type: 1,
              area: ['400px', '360px'],
              shadeClose: true, //点击遮罩关闭
              content: $('#addform').html()
            });
    }
  });
});

layui.use('form', function(){
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
        {#form.render();#}
        form.on('submit(add)', function(data){
            console.log(data)
              $.post("/admin/host/add",data.field,function (data) {
                if(data.code == 200) {
                    table.reload('idTest', {
                        url: '/admin/host/all'
                    });
                }
            });
        });

        form.on('submit(edit)', function(data) {
            console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
            $.post("/admin/host/edit", data.field, function (data) {
                if (data.code == 200) {
                    table.reload('idTest', {
                        url: '/admin/host/all'
                    });
                }
            });
        });
});
</script>
{% endblock %}

{% block body %}
    {{ super() }}
{% endblock %}
