{% extends "index.html" %}
{% block title %}ProjectInfo{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block logo %}
    AutoDeploy－发布部署平台
{% endblock %}
{% block header %}
    {{ super() }}
{% endblock %}

{% block black %}
{#    <script type="text/javascript" src="{{ url_for('static', filename='layui/layui.js') }}"></script>#}
{#    <script type="text/javascript" src="{{ url_for('static', filename='layui/layui.all.js') }}"></script>#}
    <script type="text/javascript" src="{{ url_for('static', filename='jQuery.min.js') }}"></script>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                {% for k,v in projectdicts.iteritems() %}
                        <li class="layui-nav-item layui-nav-itemed">
                            <a href="javascript:;">{{ k }}</a>
                            <dl class="layui-nav-child">
                                {% for project in v %}
                                    <dd><a href="/api/project/info/{{ project.id }}" target="option">{{ project.name }}</a></dd>
                                {% endfor %}
                            </dl>
                        </li>
                {% endfor %}
             </ul>
        </div>
    </div>
{% endblock %}

{% block page %}

     <div class="layui-form">
      <table class="layui-table" lay-size="lg">
        <thead>
          <tr>
            <th>host_ip</th>
          </tr>
        </thead>
        <tbody>
            {% for host in hosts %}
                <tr>
                     <td>{{ host.host_ip }}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>

    <div>
        <table class="layui-table" lay-size="lg">
        <thead>
          <tr>
            <th>repo_url</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                 <td>{{ project.repo_url }}</td>
            </tr>
        </tbody>
      </table>
    </div>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>开发部署工作：</legend>
</fieldset>

<form class="layui-form" lay-filter="encrypt">
    {% if deploy %}
        <input id="deploybranch" type="hidden" value="{{ deploy.branch }}">
    {% else %}
        <input id="deploybranch" type="hidden" >
    {% endif %}
  <div class="layui-inline">
    <label class="layui-form-label">分支</label>
    <div class="layui-input-block">
      <select id="branchselect" name="branch" lay-filter="branch">
          <option value=""></option>
      </select>
    </div>
  </div>

    <div class="layui-inline">
      <label class="layui-form-label">提交</label>
        <div class="layui-input-block">
          <select id="commitSelect" name="commit" lay-filter="commit">
            <option value=""></option>
          </select>
        </div>
    </div>

    <br><br>
    <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit="" lay-filter="demo1">立即发布</button>

        </div>
    </div>


</form>
    <center>
        <div>
            <button class="layui-btn layui-btn-danger" onclick="rollback()">回滚</button>
        </div>
    </center>
<script>

function rollback(){
    var url = "/api/rollback/" + {{ project.id }};
    deploybranch = $("#deploybranch").val()
    $.post(url, {"branch":deploybranch},
        function(data){
            if (data.code == 200){
                layer.alert('rollback success');
            } else {
                layer.alert(data.msg);
            }
    });
}



layui.use(['form', 'layedit', 'laydate'], function(){
    var form = layui.form
    ,layer = layui.layer;

    $(document).ready(function () {
        var url = "/api/projects/" + {{ project.id }} + "/branches";
        $.get(url, function(data){
			if(data.code == 200){
                var branchs = data.data
                for (var i=0;i<branchs.length;i++){
                    var value = branchs[i];
                    var option = document.createElement("option");
                    //转换DOM对象为JQ对象,好用JQ里面提供的方法 给option的value赋值
                    $(option).val(value);
                    //给option的text赋值,这就是你点开下拉框能够看到的东西
                    $(option).text(value);
                    //获取select 下拉框对象,并将option添加进select
                    $('#branchselect').append(option);
                }
                form.render('select','encrypt');
			}
		});
    });

    form.on('select(branch)', function(data){
        console.log(data.value);
        var url = "/api/projects/" + {{ project.id }} + "/branches/" +data.value+"/commits";
        $.get(url, function(data){
			if(data.code == 200){
                var commits = data.data
                for (var i=0;i<commits.length;i++){
                    var value = commits[i].abbreviated_commit;
                    var text = commits[i].subject;
                    var option = document.createElement("option");
                    //转换DOM对象为JQ对象,好用JQ里面提供的方法 给option的value赋值
                    $(option).val(value);
                    //给option的text赋值,这就是你点开下拉框能够看到的东西
                    $(option).text(text);
                    //获取select 下拉框对象,并将option添加进select
                    $('#commitSelect').append(option);
                }
                form.render('select','encrypt');
			}
		});
    });

    form.on('select(commit)', function(data){
        console.log(data);
    });


  //监听提交
  form.on('submit(demo1)', function(data){
    var url = "/api/deploys/" + {{ project.id }};

        $.post(url, data.field,function(data){
            if(data.code == 200){
                $("#deploybranch").val(data.deploybranch);
                alert(123)
                layer.alert('deploy success');
            }else {
                layer.alert(data.msg);
            }
        });
    return false;
  });

  form.render();

});
</script>

{% endblock %}
{% block body %}
    {{ super() }}
{% endblock %}