{% extends "index.html" %}
{% block title %}ProjectInfo{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block logo %}
    AutoDeploy－发布部署平台
{% endblock %}
{% block header %}
    {{ super() }}
{% endblock %}

{% block black %}
    <script type="text/javascript" src="{{ url_for('static', filename='layui/layui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jQuery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='layui/layui.all.js') }}"></script>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                {% for k,v in projectdicts.iteritems() %}
                        <li class="layui-nav-item layui-nav-itemed">
                            <a href="javascript:;">{{ k }}</a>
                            <dl class="layui-nav-child">
                                {% for project in v %}
                                    <dd><a href="/api/project/info/{{ project.id }}" target="option">{{ project.name }}</a></dd>
                                {% endfor %}
                            </dl>
                        </li>
                {% endfor %}
             </ul>
        </div>
    </div>
{% endblock %}

{% block page %}

    {% for host in hosts %}
        <labe>{{ host.host_ip }}</labe>
    {% endfor %}
{% endblock %}
{% block body %}
    {{ super() }}
{% endblock %}