{% extends "index.html" %}
{% block title %}User{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block header %}
    {{ super() }}
{% endblock %}
{% block black %}
    {{ super() }}
{% endblock %}

{% block page %}
    <table class="layui-hide" id="test"></table>

    <script src="../static/layui/layui.all.js" charset="utf-8"></script>

<script>
    layui.use('table', function(){
  var table = layui.table;

  table.render({
    elem: '#test'
    ,url:'/admin/user/list'
    ,cols: [[
      {field:'id', width:150, title: 'ID', sort: true}
      ,{field:'name', width:250, title: '用户名'}
      ,{field:'password', width:250, title: '密码'}
      ,{field:'role', width:150, title: '权限'}
      ,{field:'email', title: '邮箱', minWidth: 150}
    ]]
    ,page: true
  });
});
</script>
{% endblock %}

{% block body %}
    {{ super() }}
{% endblock %}